## Importing Libraries

In [2]:
import pandas as pd
import numpy as np

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains
import time
import random

from datetime import datetime

#visulaization modules
#import missingno as msno
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Scraping data

In [3]:
driver = webdriver.Chrome()
driver.get("https://www.enforcementtracker.com/")
driver.maximize_window()

In [4]:
headers = []
for i in range(2,14):
    elem = driver.find_element_by_xpath('//*[@id="penalties"]/thead/tr[1]/th['+str(i)+']')
    if elem.text != '':
        headers.append(elem.text)

In [5]:
headers

['ETid',
 'Country',
 'Date of Decision',
 'Fine [€]',
 'Controller/Processor',
 'Quoted Art.',
 'Type',
 'Source']

In [14]:
data = []
content = []

for page in range(1,3):
    print('Page '+str(page)+' en cours de chargement.')
    for i in range(1,101):
        for j in range(2,13):
            elem = driver.find_element_by_xpath('//*[@id="penalties"]/tbody/tr['+str(i)+']/td['+str(j)+']')
            if elem.text != '':
                content.append(elem.text)
    
        data.append(content)
        content = []
    
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        
    ActionChains(driver).click(driver.find_element_by_xpath('//*[@id="penalties_paginate"]/span/a['+str(page+1)+']')).perform()        
    
    print("Page "+str(page)+" récupérée !")
    #page+=1
    time.sleep(random.randint(2, 7))

Page 1 en cours de chargement.
Page 1 récupérée !
Page 2 en cours de chargement.
Page 2 récupérée !

## Loading Data

In [15]:
df = pd.DataFrame(data, columns = ['ID','Country','Date','Amount','Controller_Processor','Quoted_Art','Type','Source'])

In [16]:
df.shape

(200, 8)

In [17]:
display(df.head(5))
display(df.info())

,ID,Country,Date,Amount,Controller_Processor,Quoted_Art,Type,Source
0,ETid-987,IRELAND,2021-12-02,"60,000",Irish Teacher Council,"Art. 5 (1) GDPR, Art. 32 (1) GDPR, Art. 33 GDPR",Insufficient technical and organisational meas...,link
1,ETid-986,GREECE,2021-12-31,"30,000",INFO COMMUNICATION SERVICES,"Art. 13 GDPR, Art. 14 GDPR, Art. 11 Law 3471/2006",Insufficient fulfilment of information obligat...,link
2,ETid-985,GREECE,2021-12-31,"25,000",PLUS REAL ADVERTISEMENT,"Art. 13 GDPR, Art. 14 GDPR, Art. 11 Law 3471/2006",Insufficient fulfilment of information obligat...,link
3,ETid-984,POLAND,2021-12-09,"10,000",Warsaw University of Technology,"Art. 5 (1) f) GDPR, Art. 5 (2) GDPR, Art. 24 (...",Insufficient technical and organisational meas...,link link
4,ETid-983,SPAIN,2022-01-11,"9,000",EDUCANDO JUNTOS SL,"Art. 6 (1) GDPR, Art. 17 GDPR",Insufficient legal basis for data processing,link

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    200 non-null    object
 1   Country               200 non-null    object
 2   Date                  200 non-null    object
 3   Amount                200 non-null    object
 4   Controller_Processor  200 non-null    object
 5   Quoted_Art            200 non-null    object
 6   Type                  200 non-null    object
 7   Source                200 non-null    object
dtypes: object(8)
memory usage: 12.6+ KB

None

In [18]:
url_old_data = ('https://raw.githubusercontent.com/vdwow/data-scraping/master/gdpr_fines/data_enforcment.csv')
data_old = pd.read_csv(url_old_data).drop('Unnamed: 0', axis = 1)
display(data_old.head())
print(data_old.info())

,ID,Country,Date,Amount,Controller_Processor,Quoted_Art,Type,Source
0,ETid-870,SPAIN,2021-10-13,"40,000","Vodafone España, S.A.U.","Art. 5 (1) f) GDPR, Art. 32 GDPR",Non-compliance with general data processing pr...,link
1,ETid-869,ITALY,2021-09-16,"5,000",La Prima S.r.l.,"Art. 5 GDPR, Art. 6 GDPR, Art. 24 GDPR, Art. 2...",Insufficient legal basis for data processing,link
2,ETid-868,SPAIN,2021-10-11,"10,000",MAF.COM ESQUI CLUB,Art. 7 GDPR,Insufficient legal basis for data processing,link
3,ETid-867,SPAIN,2021-10-08,"30,000","ORANGE ESPAGNE, S.A.U.",Art. 6 (1) a) GDPR,Insufficient legal basis for data processing,link
4,ETid-866,LUXEMBOURG,2021-08-05,"135,000",Insurance company,"Art. 5 (1) f) GDPR, Art. 32 (1) a), b) GDPR, A...",Insufficient technical and organisational meas...,link

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 870 entries, 0 to 869
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    870 non-null    object
 1   Country               870 non-null    object
 2   Date                  870 non-null    object
 3   Amount                870 non-null    object
 4   Controller_Processor  870 non-null    object
 5   Quoted_Art            870 non-null    object
 6   Type                  870 non-null    object
 7   Source                869 non-null    object
dtypes: object(8)
memory usage: 54.5+ KB
None

In [19]:
new_data = pd.concat([df, data_old], ignore_index=True)
new_data = new_data.drop_duplicates(subset = 'ID')
new_data

,ID,Country,Date,Amount,Controller_Processor,Quoted_Art,Type,Source
0,ETid-987,IRELAND,2021-12-02,"60,000",Irish Teacher Council,"Art. 5 (1) GDPR, Art. 32 (1) GDPR, Art. 33 GDPR",Insufficient technical and organisational meas...,link
1,ETid-986,GREECE,2021-12-31,"30,000",INFO COMMUNICATION SERVICES,"Art. 13 GDPR, Art. 14 GDPR, Art. 11 Law 3471/2006",Insufficient fulfilment of information obligat...,link
2,ETid-985,GREECE,2021-12-31,"25,000",PLUS REAL ADVERTISEMENT,"Art. 13 GDPR, Art. 14 GDPR, Art. 11 Law 3471/2006",Insufficient fulfilment of information obligat...,link
3,ETid-984,POLAND,2021-12-09,"10,000",Warsaw University of Technology,"Art. 5 (1) f) GDPR, Art. 5 (2) GDPR, Art. 24 (...",Insufficient technical and organisational meas...,link link
4,ETid-983,SPAIN,2022-01-11,"9,000",EDUCANDO JUNTOS SL,"Art. 6 (1) GDPR, Art. 17 GDPR",Insufficient legal basis for data processing,link
...,...,...,...,...,...,...,...,...
1065,ETid-5,BELGIUM,2019-05-28,"2,000",Mayor,"Art. 5 (1) b) GDPR, Art. 6 GDPR",Insufficient legal basis for data processing,link
1066,ETid-4,AUSTRIA,2018-12-20,"2,200",Private person,"Art. 5 (1) a) GDPR, Art. 5 (1) c) GDPR, Art. 6...",Insufficient legal basis for data processing,link
1067,ETid-3,AUSTRIA,2018-09-27,300,Private car owner,"Art. 5 (1) a) GDPR, Art. 6 GDPR",Insufficient legal basis for data processing,link
1068,ETid-2,AUSTRIA,2018,"1,800",Kebab restaurant,"Art. 5 GDPR, Art. 13 GDPR, Art. 14 GDPR",Insufficient legal basis for data processing,link
1069,ETid-1,AUSTRIA,2018-12-09,"4,800",Betting place,Art. 13 GDPR,Insufficient fulfilment of information obligat...,link

In [20]:
#check unicité IDs
if new_data['ID'].value_counts().sort_values(ascending = False)[0] < 2:
    print('no duplicates !')
else:
    print('dedup to be done !')

no duplicates !

In [21]:
#export pour sécu
new_data.to_csv('export_fines_220113.csv')